<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stock-order-heading">Create or edit a Stock Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stockOrder.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stockOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                        [(ngModel)]="stockOrder.orderId" required minlength="6"/>
                    <div [hidden]="!(editForm.controls.orderId?.dirty && editForm.controls.orderId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderId?.errors?.minlength">
                        This field is required to be at least 6 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_first">First</label>
                    <input type="checkbox" class="form-control" name="first" id="field_first"
                        [(ngModel)]="stockOrder.first" />
                    <div [hidden]="!(editForm.controls.first?.dirty && editForm.controls.first?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.first?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="stockOrder.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="stockOrder.status" id="field_status" >
                        <option value="DRAFT">DRAFT</option>
                        <option value="SUBMITTED">SUBMITTED</option>
                        <option value="PAYED">PAYED</option>
                        <option value="DELIVERED">DELIVERED</option>
                        <option value="ARCHIVED">ARCHIVED</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
