<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-sku-heading">Create or edit a Product Sku</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productSku.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productSku.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="productSku.gender" id="field_gender"  required>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                        <option value="UNISEX">UNISEX</option>
                    </select>
                    <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gender?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <select class="form-control" name="size" [(ngModel)]="productSku.size" id="field_size"  required>
                        <option value="UNIQUE">UNIQUE</option>
                        <option value="XXSMALL">XXSMALL</option>
                        <option value="XSMALL">XSMALL</option>
                        <option value="SMALL">SMALL</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="LARGE">LARGE</option>
                        <option value="XLARGE">XLARGE</option>
                        <option value="XXLARGE">XXLARGE</option>
                        <option value="SPECIAL">SPECIAL</option>
                    </select>
                    <div [hidden]="!(editForm.controls.size?.dirty && editForm.controls.size?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.size?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
